body{
    margin: 0;
    text-align: center;
    background-color:black;  
    /* font-family:  Papyrus, fantasy; */
    
}


h1 {
    color: #6e6d7a;
    font-size: 5.625rem;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
  }
  


  
  p {
    line-height: 2;
    color: rgb(39, 70, 53);
    font-size: 1.16rem;
    font-weight: bold; 
  }
  

.main-page{
    margin: 0 150px 0 150px;
}

.top-container{
    background-color: #86c4f6;
    position: relative;
    height: 100vh;
    
}

    
.top-cloud{
    position:absolute;
    right: 310px;
    top: 200px;
}

.text{
    position: relative;
    text-align: center;
    top: 300px;
    font-family:  Papyrus, fantasy;
    
}


.bottom-cloud{
    position:absolute;
    left:300px;
    bottom: 300px;
}

.mountain{
    position:absolute;
    bottom: 1px;
    right: 400px;
}

/*------------------------ Middle Profile Container------------------------------- */

.middle-container{
    background-color: rgb(226, 245, 245);
    /* width: 200px; */
    /* height: 200px; */
    height: 90vh;
    margin-top: 0px;
}


#bio-data{
     font-size: 2.5rem;
     margin-top: 0px;
     margin-bottom: 0px;
     text-decoration: darkcyan;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     color: rgb(62, 59, 221);
}
#middle-h2{
    color: rgb(24, 179, 218);
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 50px;
}
#bj{
    border-radius: 25%;
    margin-top: 5px;
    width: 22.5%;
}

.intro{
    color: rgb(11, 118, 189);
    margin: 10px 100px 10px 50px;
    font-size: 1.29em;
    line-height: 2;
    text-align: center;
}



/*--------------------------------  Skill- Container --------------------- */

.skills-container{
    background-color: bisque;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 95vh;
    
    
}

.skill-row-top{
    width: 50%;
    margin:100px auto 100px 150px;
    text-align: left;
   
     
}

.skill-row-bottom{
    width: 50%;
    margin:100px 150px 100px auto;
    text-align: left;
     
}


#Eskill{
    font-size: 2.7rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#DandD{
    width: 50%;
    float: left;
    margin-right: 30px;
}


#web-test{
    float: right;
    width: 50%;
    margin-left: 20px ;
}


/* ------------------Bottom Container------------------- */
.bottom-container{
    /* height: 100vh; */
    background: rgb(101, 216, 135);
    margin-top: 0px;
    margin-bottom: 0px;
}

#touch{
    margin-top: 0px;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-message {
    width: 40%;
    margin: 0px auto 60px;
    font-size: 1.5rem;
  }

.copyright {
    color: #1e2222;
    font-size: 1rem;
    padding: 20px 0;
  }

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .footer{
      margin-top: 50px;
  }
  
  .footer{
    color: #db1515;
    font-family: 'Montserrat', sans-serif;
    margin: 40px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #EAF6F6;
  }
  

